@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

html {
    background-color: purple;
}

@media screen and (max-device-width: 1024px) {
    .desktop {
        display: none !important;
    }
}

@media screen and (min-device-width: 1025px) {
    .mobile {
        display: none !important;
    }
}
